<div class="box">

    <div style="margin-top: 20px;" class="flex-element">
        <audio #audio_player id="audio-player" controls [src]="url" class="slider"
            (play)="onAudioPlayEvent()"
            (pause)="onAudioPauseEvent()"
            (timeupdate)="timeUpdate($event)"
            (loadedmetadata)="setDuration($event)">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>

    <div class="flex-element">
        <button (click)="onShare()">
            <span class="btn-share"></span>
        </button>
    </div>
    <app-player-controls class="flex-element"
        [duration]="duration"
        [current]="current"
        [paused]="paused"
        (sliderChanged)="timeUpdateThroughSlider($event)"
        (playPauseClick)="onPlayPause()"></app-player-controls>
</div>